<launch>
    <param name="robot_decription" textfile="$(find simpleMod)/urdf/simpleMod.urdf" />

    <node name="urdf_spawner" 
          pkg="gazebo_ros" 
          type="spawn_model" 
          respawn="false" 
          output="screen" 
          args="-urdf -model simple_model -param robot_description"/>

    <!-- load the controllers -->
    <rosparam file="$(find simpleMod)/config/config.yaml" command="load"/>

    <node name="controller_spawner" 
          pkg ="controller_manager" 
          type="spawner" 
          ns="/simple_model" 
          args="Rev1_position_controller Rev2_position_controller Rev3_position_controller Rev4_position_controller Rev5_position_controller joint_state_controller"/>

    <!-- converts joint states to TF transforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="joint_states" to="/simple_model/joint_states"/>
    </node>
</launch>
